
body{
    display: grid;
    place-items: center;
    background-color: rgb(4, 32, 50);
}
.spn1{
    justify-content: center;
    text-align: center;
    place-items: center;
    font-size: 7px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    color: rgba(95, 217, 95, 0.757);
}
.container{
    height: 200px;
    width: 300px;
    top: 40%;
    color: rgba(255, 255, 255, 0.89);
    border-radius: 10px;
    background-color:  rgba(12, 43, 63, 0.817);
}